* {
    margin: 0;
    padding: 0;
    border: o none;
    position: relative;
}
header{
    width:100%;
    background: #f0e2e0;
}
#btn-menu {
    display: none;
}
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right:  1px solid #f0e2e0;
    background:  #f0e2e0;
}
header label:hover {
    cursor: pointer;
    background: #f0e2e0;
}
.menu_gral {
    font-family: verdana, sans sherif;
    width: 80%;
    margin-left: 1.5rem;
}
.menu_gral ul {
    list-style-type: none; 
    text-align: center;
    font-size: 0;
    z-index:1;
}
.menu_gral > ul li {
    display: inline-block;
    width: 20%;
    position: relative;
    background: #f0e2e0;
}
.menu_gral li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #444;
    
}
.menu_gral li:hover a, #menu_gral li a:focus {
    background: #82c5e4;
    color: #fff;
}

.menu_gral li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
}
.menu_gral li:hover ul, #menu_gral li:focus ul {
    width: 100%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;

}
.menu_gral li li {
    display: block;
    width: 100%;
}
.menu_gral li:hover li a, #menu_gral li:focus li a {
    font-family: monospace;
    font-size: .9rem;
    line-height: 1.7rem;
    border-top: 1px solid #e5e5e5;
    background: #444;
}
.menu_gral li li a:hover, #menu_gral li li a:focus {
    background: #8AA9B8; 
}
@media (max-width:768px){
    header label{
        display:block;
    }
    .menu_gral {
        position: absolute;
        background: #f0e2e0;
        width: 40%;
        margin-left: -40%;
        transition:all 0.3s;
    }
    .menu_gral ul {
        list-style-type: none; 
        text-align: center;
        font-size: 0;
        z-index:1;
        flex-direction:column;
    }
    .menu li {
        border-top: 1 px solid #fff;
    }
    .menu_gral > ul li {
        display: flex;
        width: 50%;
        position:static;
        background: #f0e2e0;
    }
    
    #btn-menu:checked ~ .menu_gral {
        margin: 0;
    }
}