p {
    text-align: justify;
   width: 50%;
   font-size: 17px ;
   margin-left: 40px;
   font-weight: bold;
   
   }
h2 { 

   font-family: Verdana;
   font-size: 25px ;
   text-decoration: underline;
   color: rgb(6, 6, 143);
   margin-top: 80px ;
   margin-left: 20px;

   }
   .foto{
       position: absolute;
       left: 850px;
       top: 200px ;
      
   } 
   body{
       background-size: cover;
       height: 100%;
   }